*.egg-info
*.pyc
*.swp
/bin/
/develop-eggs/
/eggs/
/parts/
*.DS_Store
*.egg
db.sqlite3
.idea
/dist
django_ckeditor_5/node_modules/
.vscode/
build/
example/blog/env
example/blog/db.sqlite3
django-ckeditor-5.iml
example/blog/articles/migrations/*
example/blog/static/*
example/blog/media/*
example/django_ckeditor_5
